body {
  background: linear-gradient(to bottom, #34d3db, #2c3e50);
  color: white;
  font-family: Arial, sans-serif;
}

/* Style for the slideshow container */
.slideshow-container {
  position: relative;
  max-width: 1000px;
  margin: auto;
}

/* Style for the slideshow images */
.mySlides {
  display: none;
}

/* Style for the navigation buttons */
.prev, .next {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

/* Style for the fade animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

footer {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 15pv;
}