body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.magnify-heading {
    font-size: 60px;
    cursor: pointer;
}

.magnify-heading span {
    display: inline-block;
    transition: transform 0.3s;
}

.magnify-heading span:hover {
    transform: scale(2.2);
    transition: transform 0.3s;
    display: inline-block;
}
